*{
font-size: large; 
}
body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh; 
width: 100%;
overflow: hidden;
}
.forgot {
display: flex;
 background: #111;
position: absolute;
width: 400px;
height: auto;
 justify-content: center;
flex-direction: column;
gap: 20px;
 padding: 50px;
border-radius: 20px;
}
.forgot h2{
padding-left: 80px;
font-size: 2em;
color: #fff;
}
.forgot label{
color: #fff; 
font-size: 1em;
}
.forgot input{
padding: 12px 20px ;
border-radius: 50px;
font-size: 1.2em;
color: #fff;
border: 2px solid gray;
background: transparent;
box-shadow: none;
outline: none;
}
.forgot button[type="submit"] {
width: 100%;
background: #0078ff;
background: Linear-gradient(45deg,#ff357a,#fff172);
border: none;
border-radius: 30px;
padding: 10px 15px;
cursor: pointer;
 }
.forgot input::placeholder{
 color: rgba(225, 225, 225, 0.75);
 }